
main > :nth-child(1){
    background: url(/assets/img/pc/1.jpg);
    background-position: center center;
    background-size: cover;
}

main > :nth-child(2){
    background: url(/assets/img/pc/2.jpg);
    background-position: center center;
    background-size: cover;
}
main > :nth-child(3){
    background: url(/assets/img/pc/3.jpg);
    background-position: center center;
    background-size: cover;
}
main > :nth-child(4){
    background: url(/assets/img/pc/4.jpg);
    background-position: center center;
    background-size: cover;
}
main > :nth-child(5){
    background: url(/assets/img/pc/5.jpg);
    background-position: center center;
    background-size: cover;
}
main > :nth-child(6){
    background: url(/assets/img/pc/6.jpg);
    background-position: center center;
    background-size: cover;
}



section{
    transition: height .5s,width .5s;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.content-area{
    position: absolute;
    left:55.3%;
    top:30.1%;
    width: 23rem;
}

.content-area h1{
    margin-top: .3rem;
    font-size: 2.25rem;
    letter-spacing: .07rem;
}
.content-area h2{
    margin-top: .36rem;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: .08rem;
}
.content-area .content-info{
    white-space: nowrap;
    margin-top: 1.18rem;
    margin-bottom: 1.8rem;
    font-size: 1rem;
}
.content-area h3{
    margin-bottom: .5rem;
    font-size: 0.813rem;
    letter-spacing: .08rem;
}
.content-area h3 img{
    transform: translateY(.1rem);
    margin-right: .5rem;
}
.content-area p{
    white-space: nowrap;
    margin-top: 1.6rem;
    font-size: 0.813rem;
    letter-spacing: .08rem;
}




.shoplist{
    position: absolute;
    bottom: min(4.34rem,8%);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 0 2.93rem;
    height: fit-content;
    }
.card-image{
    overflow: hidden;
    height: 11.875rem;
    width: 11.875rem;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

.product-card img{
    height: 11.875rem;
    width: 11.875rem;
    object-fit: cover;
    
}
.product-card .card-image-wide img{
    height: 11.875rem;
    width: 23.438rem;
}

.card-image:hover :nth-child(1){
    display: none;
}

.card-image-wide{
    overflow: hidden;
    height: 11.875rem;
    width: 23.438rem;
}

.card-image-wide:hover :nth-child(1){
    display: none;
}
.card-title{
    margin-top: 2rem;
    font-size: 1.125rem;
}

.card-info{
    font-family: "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-size: 0.875rem;
    margin-top: .34rem;
    letter-spacing: .08rem;
}

.foot-area{
    display: flex;
    justify-content: center;
    height: 11.25rem;

}
.foot-content{
    display: flex;
    justify-content: space-between;
    min-width: 60rem;
}
.info-area{
    padding: .2rem 0;
    margin-top: 2.5rem;
    margin-left: 1rem;
    height: 6.313rem;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.938rem;
}
.info-area a:hover{
    cursor: pointer;
}

.info-area *{
    white-space: nowrap;
    font-size: 0.938rem;
    letter-spacing: .063rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.foot-right{
    position: relative;
    background-color: bisque;
}
.foot-area  .icon-area{
    right:-1.1rem;
    top:.9rem;
    position: absolute;
    display: flex;
    /* background-color: aqua; */
    width: fit-content;
    
}
.copyright{
    right: .9rem;
    top:4.5rem;
    position: absolute;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0.938rem;
    letter-spacing: 0.063rem;
    margin-top: .55rem;
    font-family: system-ui;
}
