header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 64rem;
    height: 5rem;
    align-self:center ;
}

 .logo{
    margin-top: 0rem;
    margin-left: 2rem;
}


 .navbar{
    padding-top: 1.7rem;
    font-size: 0.938rem;
    display: flex;
    justify-content: space-between;
    min-width: 32rem;
}

.navtag-other{
    text-decoration: underline;
    text-underline-offset: 6px;
}
.navbar li{
    position: relative;
    display: flex;
    flex-direction: column;
}
.navtag-en{
    transition: opacity .3s,transform .5s;
}
.navtag-ch{
    opacity: 0;
    transition: opacity .3s,transform .5s;
}

.navbar li:hover{
    cursor: pointer;
}

.navbar li:hover .navtag-en{
    transform: translateY(-.5rem);
    opacity: 0;
}
.navbar li:hover .navtag-ch{
    transform: translateY(-1.2rem);
    opacity: 1;
}


 .icon-area{
    margin-left: 1.1rem;
    margin-top: 1.5rem;
    display: flex;
    margin-right: 1.5rem;
}
.icon-area svg *{
    transition: .2s;
}

.icon-area > :nth-child(1n){
    position: relative;
    height: 2rem;
    width: 2rem;
    margin: 0px .34rem;

}


:is(.facebook-svg,.ig-svg,.line-svg,.ask-svg,.icon-bag-svg){
    fill: transparent;
    stroke: black;
    stroke-width: 1px;}

:is(.facebook-svg,.ig-svg,.line-svg,.ask-svg,.icon-bag-svg):hover .circle{
    fill: black;
    stroke: black;
    stroke-width: 1px;
}
:is(.facebook-svg path,.line-logo,.ask-logo){
    fill: black;
    stroke: none;
}
:is(.facebook-svg path,.line-logo,.ask-logo){
    fill: black;
    stroke: none;
}

:is(.facebook-svg,.ig-svg,.line-svg,.ask-svg,.icon-bag-svg):hover :is(.facebook-svg path,.line-logo,.ask-logo){
    fill: white;
}
:is(.facebook-svg,.ig-svg,.line-svg,.ask-svg,.icon-bag-svg):hover .icon-stroke{
stroke: white;
}



.icon-bag-svg{
    position: absolute;
    fill: transparent;
    /* outline: solid 2px yellow; */
}
.icon-bag-svg:hover{
    cursor: pointer;
}

.cart-icon-area{
    position: relative;
}

.cart-count{
    right: -.3rem;
    top:-.3rem;
    position: absolute;
    font-size: .75rem;
    padding-left: .33rem;
    padding-bottom: 1rem;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 1rem;
    width: 1rem;
    border-radius: 12rem;
    transition: outline 1.5s;
}

.cart-icon-area:hover .cart-count{
    outline:solid 1px white;
    
}
