.hamburger{
    z-index: 6;
    display: none;
    position: fixed;
    width: fit-content;
    height: fit-content;
    left:.8rem;
    top: 5.85rem;
}

.hamburger :nth-child(1n){
    background-color: black;
    width: 1.1rem;
    height: .01rem;
    margin: .4rem;
}

.hamburger:hover{
    cursor: pointer;
}

@media (max-width:100rem){
    header{
        top:1.9rem;
    }


    .content-area{
        position: absolute;
        top:28%;
        left: 53.5%;
        width: 23rem;
    }
    
    .content-area h1{
        margin-top: .3rem;
        font-size: 1.625rem;
        letter-spacing: .07rem;
    }
    .content-area h2{
        margin-top: .36rem;
        font-size: 0.938rem;
        font-weight: bold;
        letter-spacing: .08rem;
    }
    .content-area .content-info{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.75rem;
    }
    .content-area h3{
        margin-bottom: .4rem;;
        font-size: 0.75rem;
        letter-spacing: .08rem;
    }
    .content-area h3 img{
        transform: translateY(.1rem);
        margin-right: .5rem;
    }
    .content-area p{
        margin-top:1rem;
        font-size: 0.75rem;
        letter-spacing: .08rem;
    }

    /*  */
    .shoplist{
        bottom: min(2.5rem,8%);
    }
   
    .product-card{
        margin: 0 2.9rem;
    }

    .product-card img{
        
        margin-bottom: 2rem;
        height: 10rem;
        width: 10rem;
    }

    .card-title{
        margin-top: 1.53rem;
    } 

    .card-image{
        height:10rem;
        width: 10rem;
    }
    .card-image-wide{
        overflow: hidden;
        height: 10rem;
        width: 19.738rem;
    }
}

@media (max-width:64rem){
    .cart-content {
        padding: 2.6rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        z-index: 100;
        height: 15.75rem;
        width: 100vw;
        right: -100vw;
 
    }
    .show-cart-content{
        /* z-index: 5; */
        transform: translateX(-100vw);
    }
    .cart-title{
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }
    .pricing-area{
        padding-top:1.7rem;
        height: 4.74rem;
    }
    .pricing-button-area{
        transform: scale(.75) translate(8.5rem,-1.3rem);
    }
    .hamburger{
        display: inline-block;
    }


    aside{
        display: none;
    }
    header{
        width: 100vw;
    }

    header .navbar{
        display: none;
    }
    header .logo {
        transform: scale(.85) translate(-1.5rem ,-.8rem)
    }
    header .icon-area {
        margin-right: .7rem;
        margin-top: 1.1rem;
    }
    header .icon-area a{
        display: none;
    }

    .section{
        display: none;
    }
}