aside{
    font-size: 0.938rem;;
    top:5.6rem;
    left:0rem;
    position: absolute;
    width: 7rem;
    
}
aside .sidetag-area{
    padding-left: 1rem;
    padding-top: .3rem;
    display: flex;
    flex-direction: column;
}

.sidetag{
    padding-left: 1.1rem;
    margin: .43rem 0;
    height: 1.2rem;
    display: flex;
    flex-direction: column;
}

.sidetag:hover{
    cursor: pointer;
}

.selected .sidetag-en{
    transform: translateY(-.5rem);
    opacity: 0;
}

.sidetag .sidetag-ch{
    white-space: nowrap;
    align-self: center;
    color: black;
    opacity: 0;
    transition: background-color 1s,transform .6s,opacity .6s, letter-spacing .6s ease-in-out;
}
.selected .sidetag-ch{
    letter-spacing: .05rem;
    transform: translateY(-1.25rem);
    opacity: 1;
    background-color: black;
    padding: 0px 5px;
    color: white;
}
.sidetag .sidetag-en{
    white-space: nowrap;
    transition: transform .6s,opacity .6s;
}

.sidetag:hover .sidetag-ch{
    transform: translateY(-1.25rem);
    opacity: 1;
    
}

.sidetag:hover .sidetag-en{
    transform: translateY(-.5rem);
    opacity: 0;
}